{% extends 'employees/employee_base.html' %}

{% block title %} Employee Profile Edit {% endblock %}

{% block header %} Update Your Information {% endblock %}

{% block content %}
<label for="autocomplete" class="disabled form-label">Search address:</label>
<input class='disabled form-control text-center' disabled id="autocomplete" placeholder=" In development"
    type="text" />

<form action="{% url 'employees:edit_profile' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">

        <label for="name" class="form-label">Name:</label>
        <input class="form-control text-center mb-3" type="text" name="name" id="name"
            value="{{logged_in_employee.name}}">


        <label for="zip_code" class="form-label">Zip Code:</label>
        <input class="form-control text-center mb-3" type="text" name="zip_code" id="zip_code"
            value="{{logged_in_employee.zip_code}}">

        <input class="btn btn-success" type="submit" value="Submit">
    </div>
</form>

<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places&callback=initAutocomplete" async
    defer></script>

{% endblock %}